@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FBFBF9; /* Warm Gray / Paper-like */
  --foreground: #1E1E20; /* Deep Charcoal */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBFBF9;
    --foreground: #1E1E20;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
