@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0b0c0e; /* Obsidian-like Deep Dark */
  --foreground: #dcddde; /* Off-white text */
  --accent-blue: #537FE7; /* Obsidian Purple replaced with Blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0c0e;
    --foreground: #dcddde;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
